Source: ivy-c
Section: devel
Priority: extra
Maintainer: Herve Damiano <damiano@cena.fr>
Standards-Version: 2.3.0.0

Package: ivy-c
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: ivy-tcl
Description: Bus logiciel PII.
 Bus logiciel PII. Fichiers de runtime.

Package: ivy-c-dev
Architecture: any
Depends: ivy-c (= 3.2-1), libc6-dev, xlib6g-dev, tcl8.2-dev
Description: Bus logiciel PII.
 Bus logiciel PII. Fichiers nécessaires au développement.
