Source: ivy-c
Section: devel
Priority: extra
Maintainer: Yannick Jestin <jestin@cena.fr>
Standards-Version: 3.1.1.1

Package: ivy-c
Architecture: any
Depends: ${shlibs:Depends}
Build-Depends: debhelper, libc6-dev, xlibs-dev, tcl8.4-dev, libgtk1.2-dev, libpcre3-dev
Suggests: tclsh, wish
Conflicts: ivy-tcl
Description: Ivy software bus. runtime Package
 Ivy is mostly a communication convention between processes, implemented
 through a collection of libraries in several languages and for several platforms:
 from  C to Perl, from Macintosh or WindowsNT to Linux or Unix.

Package: ivy-c-dev
Architecture: any
Depends: ivy-c (>= 3.2-3), libc6-dev, xlibs-dev, libgtk1.2-dev
Suggests: tclsh, wish
Description: Ivy software bus. development Package
 This package is needed for compiling applications using ivy-c.
 Ivy is mostly a communication convention between processes, implemented
 through a collection of libraries in several languages and for several platforms:
 from  C to Perl, from Macintosh or WindowsNT to Linux or Unix.
