#!/usr/bin/perl

$Summary = "Ivy, C interface";
$Name = "ivy-c";
$Copyright = "CENA";
$Vendor = "Centre d'Etudes de la Navigation Aerienne";
$Distribution = "Toccata";
$Group = "Libraries";
$Source = "$Name-$Version.tar.gz";
$Url = "http://www.cenatoulouse.dgac.fr/";
$BuildArchitectures = "i386";
$BuildRoot = "/var/tmp/ivy-c-buildroot/";
$Description = "Ivy, C interface";

@ChangeLog = ("\n");

1;
push @ChangeLog, '* Sat Feb 20 1999 Stéphane Chatty <chatty@cenatoulouse.dgac.fr>
- Generation of ivy-c-3.0-2
- New version 3.0, with new syntax for bus specification.

';
push @ChangeLog, '* Sat Feb 20 1999 Stéphane Chatty <chatty@cenatoulouse.dgac.fr>
- Generation of ivy-c-3.0-3
- New Makefile with major and minor numbers

';
push @ChangeLog, '* Sat Feb 20 1999 Stéphane Chatty <chatty@cenatoulouse.dgac.fr>
- Generation of ivy-c-3.0-4
- First attempt to fix dependencies

';
push @ChangeLog, '* Sat Feb 20 1999 Stéphane Chatty <chatty@cenatoulouse.dgac.fr>
- Generation of ivy-c-3.0-5
- Fixed Makefile: added links for shared libs

';
push @ChangeLog, '* Tue Apr 13 1999 Michelle Jacomi <jacomi@cenatoulouse.dgac.fr>
- Generation of ivy-c-3.0-8
- doc files added to ivy-c package

';
