#!/usr/bin/perl

$Summary = "Ivy, C interface";
$Name = "ivy-c";
$Copyright = "CENA";
$Vendor = "Centre d'Etudes de la Navigation Aerienne";
$Distribution = "Toccata";
$Group = "Libraries";
$Source = "$Name-$Version.tar.gz";
$Url = "http://www.cenatoulouse.dgac.fr/";
$BuildArchitectures = "i386";
$BuildRoot = "/var/tmp/ivy-c-buildroot/";
$Requires = "utils-c";
$Description = "Ivy, C interface";

@ChangeLog = ("\n");

1;
