$Summary = "Ivy, C interface";
$Name = "ivy-c";
$Copyright = "CENA";
$Vendor = "Centre d'Etudes de la Navigation Aerienne";
$Distribution = "Toccata";
$Group = "System Environment/Libraries";
$Url = "http://www.tls.cena.fr/products/ivy";
$BuildArchitectures = "i586";
$Description = "This is the C library that implements the
connection to the Ivy software bus developed at CENA";
$Requires = "ivy-c = \%{version}-\%{release} " .
	"glibc libpcre libgtk+1.2 libglib2 libxfree86 tcl" ;


$FindFiles = "(find \$RPM_BUILD_ROOT -type f -print ; find \$RPM_BUILD_ROOT -type l -print) | sed \"s\@^\$RPM_BUILD_ROOT\@\@g\" | sort | join redhat/files - ";

$Install = "rm -Rf \$RPM_BUILD_ROOT
cd src
make PREFIX=\$RPM_BUILD_ROOT install
cd ..
(find \$RPM_BUILD_ROOT -type f -print; find \$RPM_BUILD_ROOT -type l -print) | sed \"s\@^\$RPM_BUILD_ROOT\@\@g\" | grep -v perllocal.pod | grep -v .packlist > $Name-\%{version}-filelist";
